version: '3.9'

services:
  redis:
    image: redis:7-alpine
    ports: [6379]

  backend:
    build: ./backend
    ports: [8000:8000]
    volumes:
      - ./models-storage:/app/models-storage
      - ./registry.db:/app/registry.db
    depends_on: [redis]

  worker:
    build: ./worker
    volumes:
      - ./models-storage:/app/models-storage
      - ./registry.db:/app/registry.db
    depends_on: [redis]

  prometheus:
    image: prom/prometheus
    ports: [9090:9090]
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana
    ports: [3000:3000]